footer {
    background-color: #ffb700;
}

#footer-items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
}

#copyrigth{
    font-weight: 800;
}

@media screen and (max-width: 600px) {
    #footer-items {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}